<div class="container">
    <h3>Control keys:</h3>
    <ul>
        <li>Left arrow - go left</li>
        <li>Right arrow - go right</li>
        <li>Up arrow - go up</li>
        <li>Down arrow - go down</li>
    </ul>
    


    <h3>Pacman Gameplay</h3> 
    The objective of the game is to try to avoid the ghosts and eat as many yellow dots as possible to advance to the high score!
    This pacman game also features game statistic! See how your pacman skills compare and if you can compete with the best of the best!

    <h3>Pacman Background</h3>
    Pacman, was the icon of 1980's pop culture and a staple in every arcade gaming room. Ever since its birth Pacman grew to become
    one of the most popular gaming figures of all time. the icon of the 1980's pop culture, became one of the most popular gaming 
    figures of all time. The basis of the game is so simple, yet ingenious. Little yellow pacman chomps his way around the board
    collecting pellets while at the same time staying away from the ghosts. The Pacman game was created by Namco and licensed for 
    distribution in the US by Midway in Oct 1980. Pacman is for sure one of the classics and definitely one of the icons of pop 
    culture ala the likes of other popular games as Mario, Tetris, and Frogger. To this present day Pacman is still going strong
    with clothing merchandise, video games, and arcade machines still all around the world! Replacing the classic arcade games, 
    you could now enjoy pacman online. You can play pacman from the comfort of your own home thanks to the internet and mobile devices. 
    Make sure to always play pacman online at Playpacmanonline.net! Cheers and have fun chomping away at those pellets and ghosts!
</div>
