<div class="container">
<input type="button" class="btn" value="New Game" onclick="NewGame()">
<input type="button" class="btn"value="Pause" onclick="Pause()">
<input id="continue" class="btn" type="button" value="Continue" onclick="Continue()">
<h2 id="timer"></h2>
<br />
<h4 id="score"></h4>
<h4 id="lifes"></h4>
<h4 id="points"></h4>
<br />
<br />

    <canvas id="field" width="400" height="500"></canvas>
</div>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/pacman.js"></script>





